*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* root font-size is html tag */
html{
    // This defines what 1rem is.
    font-size: 62.5%; /* ((10 / 16px) * 100) = 62.5% */ /* 16px is default font-size of browser */
}


body{
    box-sizing: border-box;
}
